.row {
    margin-bottom: 25px;
}

.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-button-toggle {
  text-align: center;
}

button {
  background-color: #62B3D1;
  color: white;
}

#navigationButton {
  margin-right: 10px;
}


#backToDashboard {
  margin-right: 380px;
}

.sliderTitles {
  padding-left: 30px;
}

/*Nav Bar*/
nav  {
    text-align:center;
}

nav a {
    background-color: darkgrey;
    color:white;
}

.topSurveyModuleNav {
    position: relative; 
    margin-top: 0px;
    background-color:rgb(220,220,220);
    height: 80px;
    margin-bottom: 25px;
    /* margin-bottom: 0px; */
}

.bottomSurveyModuleNav {
    position: relative; 
    /* margin-top: 400px; */
    background-color:rgb(220,220,220);
    height: 80px;
    /* margin-bottom: 25px; */
    /* margin-bottom: 0px; */
}


.whiteText {
  color: white;
}

.moduleNavigation  {
    height: auto;
    width: 42px;
    margin-top: 20px;
    opacity: 1;
    float: left;
    margin-left: 35px;
}

.moduleNavigation:hover {
  cursor: pointer;
}


.md-tooltip {
    height: 35px !important;
    background-color: red !important;
    color: white !important;
    border-radius: 5px;
}

#areYouResponsible {
  float: right;
  margin-right: 125px;
  width: auto;
}

#userIsResponsible {
  float: right;
  margin-right: 125px;
  width: auto;
  background-color: #e28a1d;
}

.customTooltip {
  background-color:#62B3D1; 
  color: white;
  z-index:1;
  position: absolute;
  margin-top: 55px; 
  height: 0 auto;  
  width: 250px;
  /* margin-right: 0px; */
  /* margin-left: 1000px; */
}

.importanceCustomTooltip {
  background-color:#62B3D1; 
  color: white;
  z-index:1;
  position: absolute;
  margin-top: 55px; 
  height: 0 auto;  
  width: 250px;
  /* margin-right: 0px; */
    margin-left: 560px;  
}

.capabilityCustomTooltip {
  background-color:#62B3D1; 
  color: white;
  z-index:1;
  position: absolute;
  margin-top: 55px; 
  height: 0 auto;  
  width: 250px;
  /* margin-right: 0px; */
   margin-left: 740px; 
}

.targetCustomTooltip {
  background-color:#62B3D1; 
  color: white;
  z-index:1;
  position: absolute;
  margin-top: 55px; 
  height: 0 auto;  
  width: 250px;
  /* margin-right: 0px; */
   margin-left: 950px; 
}

md-slider {
  z-index: 0;
}

.jqxSlider {
  z-index: 0;
   /* margin-right: 5px;  */
  /* padding-right: 100px; */
}

.surveyQuestions {
  /* background-color: yellow; */
}

.clearScore {
  color: white;
}

/* .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
} */


