.importanceSlider {
     margin-left: 300px; 
}

.resetVal {
    background-color: #e28a1d;
    color: white;
    position: absolute;
    z-index: 1;
    height: 0 auto;
    width: 100px;
    text-align: center;
    margin-left: 35px;

}
.resetVal:hover {
    cursor: pointer;
}

.sliders {
    position: relative;
}

