<div class="loading-overlay" #spinnerElement style="opacity: 1;">
    <md-spinner></md-spinner>
</div>


  <header id="mainNavBar">
    <nav class="navbar navbar-inverse">
       <div class="navContainer"> 
          <a *ngIf="minWidth()" routerLink="/welcome" class="navbar-left"><img id="logo" src="/assets/tmforum_logo_white_on_alpha.png" height="40"/></a>
          
        <div class="userDetails" *ngIf="inSeeDemo()">Demo User - Demo Organization - Demo Role</div> 
        <div class="userDetails" *ngIf="this.authService.isAuthenticated()">{{this.localStorageService.getUserName()}} - {{this.localStorageService.getUserCity()}} - {{this.localStorageService.getUserRole()}}</div> 

        <span *ngIf="minWidth()"><img *ngIf="this.authService.isAuthenticated()" class='nav-avatar img-circle' [src]="getUserAvatar()"/></span> 
        <md-icon *ngIf="this.authService.isAuthenticated()"  id="menuIcon" [mdMenuTriggerFor]="menu" onMouseOver="this.style.cursor='pointer'">md_more_vert</md-icon>
       </div> 
    </nav>
    

      <md-menu #menu="mdMenu" yPosition="above">
        <button md-menu-item *ngIf="authService.isAuthenticated()" (click)="editUserDetails()">
          <span>View/Edit Details</span>
        </button>
        
        <button md-menu-item *ngIf="authService.isAuthenticated()" (click)="this.authService.logout()">
          <span>Log out</span>
        </button>
      </md-menu>

  </header>

<main>
  <router-outlet>
  </router-outlet>
</main>

<footer id="footer" ng-cloak>
  <img id="infoIcon" src="../assets/Info-50.png" [mdTooltip]="infoTooltip" mdTooltipPosition="after">
  <div id="termsOfUse" *ngIf="showDisclaimer()"><strong>By clicking on Register My Interest or Login you agree to our Terms of Use and Privacy Policy at www.tmforum.org</strong></div>
</footer>




