<router-outlet></router-outlet>

 <div id="surveyProgressBarArea" *ngIf="inChildComponents()">
     <h2><strong>Dashboard</strong></h2>
        <!-- <div class="row"> -->
            <h4 id="overallProgress">Survey Completion Status -  {{progressValue}}%</h4>
            <md-progress-bar id="progressBar" *ngIf="inChildComponents()" color="accent" [mode]="determinate" [value]="progressValue">
         </md-progress-bar> 
        <!-- </div> -->
</div>

<div *ngIf="inChildComponents()" class="container">
    <div class="row" *ngFor="let eachSurvey of surveyModules; let i = index">
        <h4>{{surveyModules[i][0].areaText}}</h4>
        <div id="cardsContainer">
        <md-card class="col-xs-2" *ngFor="let test of eachSurvey; let j = index" (click)="navigateToSurveyModule(i, j)">
             <h6>{{surveyModules[i][j].dimensionText}}</h6>
        <div class="progressBox" [ngStyle]="changeSurveyProgressBackground(i, j)">
            <p><strong>{{surveyModules[i][j].surveyCount}} / {{surveyModules[i][j].statementCount}}</strong></p>
        </div>
        </md-card>
        </div>
    </div>
</div>
