<nav md-tab-nav-bar *ngIf="hideNavBar()">
   <a md-tab-link class="navTitle" [ngStyle]="inTeamAdmin()" *ngIf="!authService.inDemoMode()" routerLink="teamadmin"><h4>Team Admin</h4></a> 
  <!-- <a md-tab-link class="navTitle" *ngIf="!authService.isVerified()"><h4>Team Admin</h4></a> -->
  <a md-tab-link class="navTitle" [ngStyle]="inSurvey()" routerLink="takesurvey"><h4>Take Survey</h4></a>
  <a md-tab-link class="navTitle" [ngStyle]="inViewResults()" routerLink="viewresults"><h4>View Results</h4></a>
   <!-- <a md-tab-link class="navTitle" [ngStyle]="inPublication()" *ngIf="!authService.inDemoMode()" routerLink="publication"> <h4>Publication</h4></a> 
  <a md-tab-link class="navTitle" [ngStyle]="inPublication()" *ngIf="!authService.isVerified()"><h4> Publication</h4></a>     
  <a md-tab-link class="navTitle" [ngStyle]="inBenchmark()" *ngIf="!authService.inDemoMode()" routerLink="benchmark"><h4>Benchmark</h4></a>  
  <a md-tab-link class="navTitle" [ngStyle]="inPublication()" *ngIf="!authService.isVerified()"><h4>Benchmark</h4></a>      -->
</nav>
<router-outlet></router-outlet>
